@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,greek,cyrillic);


html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

button {
  border: none;
  padding: 0.7em 1.5em 0.7em;
  font-size: 0.8em;
  line-height: 1.1em;
}

#navbar {
  padding: 1.5em 0 1em;
  font-size: 1.5em;
  z-index: 100;
  position: absolute;
  width: 100%;
  color: #333;
}

#navbar a {
  float: right;
  padding-left: .5em;
  padding-right: 2em;
}

#food {
  padding: 10em 0 6em;
  color: #333;
  text-align: center;
}

#question {
  padding: 4em 0 2em;
}

#question p {
  font-size: 2em;
}

#question button {
  font-size: 1.3em;
  line-height: .7em;
  border: 2px solid #333;
  border-radius: 5px;
  padding: .5em 1em .5em;
  margin: .7em;
  background-color: white;
}

#potato {
  max-width: 60%;
  max-height: 60%;
  margin: 0 auto;
  display: block;
}

#block {
  padding: 8em 0 6em;
  background-color: #111;
  color: white;
}

#text {
  font-size: 1.4em;
  width: 50%;
  margin: 0 auto;
  padding: 3em 0 3em;
  line-height: 1.65em;
  letter-spacing: 0.1px;
}

#intro {
  text-align: center;
}

#intro button {
  background-color: #555;
  margin: 0.7em;
  border-radius: 10px;
}
